@font-face {
  font-family: sans;
  src: url(comic-sans.ttf);
}

h1 {
  text-align: center;
  font-family: sans, "Brush Script MT", cursive;
  font-size: 48px;
  margin: 0px;
  padding: 30px;
  font-color: rgb(255, 255, 255);
}

h2 {
  text-align: center;
  font-family: sans, "Brush Script MT", cursive;
  font-size: 24px;
  font-color: rgb(255, 255, 255);
}

p {
  text-align: center;
  font-family: sans, "Brush Script MT", cursive;
  font-size: 20px;
  font-color: rgb(255, 255, 255);
}

#picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#background {
  position: fixed;
  width: 100%;
  z-index: -1;
}

body {
  margin: 0;
  padding: 0;
}
